In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

import seaborn as sns

import acquire_prep
from acquire_prep import acquire_df
from acquire_prep import prep_df

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df, no_sqft_df = prep_df()

In [3]:
df.shape

(37047, 21)

In [4]:
no_sqft_df.shape

(21557, 21)

In [5]:
df.head().T

,0,3,4,6,9
borough,1,1,1,1,1
neighborhood,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY
building_class_category,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,08 RENTALS - ELEVATOR APARTMENTS
tax_class_at_present,2A,2B,2A,2B,2
block,392,402,404,406,387
lot,6,21,55,32,153
ease_ment,,,,,
building_class_at_present,C2,C4,C2,C4,D9
address,153 AVENUE B,154 EAST 7TH STREET,301 EAST 10TH STREET,210 AVENUE B,629 EAST 5TH STREET
apartment_number,,,,,
zip_code,10009,10009,10009,10009,10009
residential_units,5,10,6,8,24
commercial_units,0,0,0,0,0
total_units,5,10,6,8,24
land_square_feet,1633,2272,2369,1750,4489
gross_square_feet,6440,6794,4615,4226,18523
year_built,1900,1913,1900,1920,1920
tax_class_at_time_of_sale,2,2,2,2,2
building_class_at_time_of_sale,C2,C4,C2,C4,D9
sale_price,6625000,3936272,8000000,3192840,16232000
sale_date,2017-07-19 00:00:00,2016-09-23 00:00:00,2016-11-17 00:00:00,2016-09-23 00:00:00,2016-11-07 00:00:00

In [6]:
df.isnull().sum()

borough                           0
neighborhood                      0
building_class_category           0
tax_class_at_present              0
block                             0
lot                               0
ease_ment                         0
building_class_at_present         0
address                           0
apartment_number                  0
zip_code                          0
residential_units                 0
commercial_units                  0
total_units                       0
land_square_feet                  0
gross_square_feet                 0
year_built                        0
tax_class_at_time_of_sale         0
building_class_at_time_of_sale    0
sale_price                        0
sale_date                         0
dtype: int64

In [7]:
df.head().T

,0,3,4,6,9
borough,1,1,1,1,1
neighborhood,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY,ALPHABET CITY
building_class_category,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,08 RENTALS - ELEVATOR APARTMENTS
tax_class_at_present,2A,2B,2A,2B,2
block,392,402,404,406,387
lot,6,21,55,32,153
ease_ment,,,,,
building_class_at_present,C2,C4,C2,C4,D9
address,153 AVENUE B,154 EAST 7TH STREET,301 EAST 10TH STREET,210 AVENUE B,629 EAST 5TH STREET
apartment_number,,,,,
zip_code,10009,10009,10009,10009,10009
residential_units,5,10,6,8,24
commercial_units,0,0,0,0,0
total_units,5,10,6,8,24
land_square_feet,1633,2272,2369,1750,4489
gross_square_feet,6440,6794,4615,4226,18523
year_built,1900,1913,1900,1920,1920
tax_class_at_time_of_sale,2,2,2,2,2
building_class_at_time_of_sale,C2,C4,C2,C4,D9
sale_price,6625000,3936272,8000000,3192840,16232000
sale_date,2017-07-19 00:00:00,2016-09-23 00:00:00,2016-11-17 00:00:00,2016-09-23 00:00:00,2016-11-07 00:00:00

### We may need to consider a separate dataframe with rows that do not have sq. ft.

In [10]:
df.gross_square_feet = pd.to_numeric(df.gross_square_feet, downcast='integer')

In [11]:
df.dtypes

borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease_ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                  int32
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                         int64
sale_date                         object
dtype: object

In [12]:
df.describe()

,borough,block,lot,zip_code,residential_units,commercial_units,total_units,gross_square_feet,year_built,tax_class_at_time_of_sale,sale_price
count,37047.000000,37047.000000,37047.000000,37047.000000,37047.000000,37047.000000,37047.000000,3.704700e+04,37047.000000,37047.000000,3.704700e+04
mean,3.370880,5124.861959,223.823387,10941.205064,2.459308,0.258024,2.723162,3.526989e+03,1853.820660,1.411963,1.504957e+06
std,0.962703,3633.065312,476.778567,1005.914629,17.764163,12.472264,21.831420,2.993774e+04,414.852672,0.740624,1.527981e+07
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,1.000000,1.110000e+03
25%,3.000000,2135.000000,21.000000,10466.000000,1.000000,0.000000,1.000000,8.680000e+02,1920.000000,1.000000,4.000000e+05
50%,3.000000,4666.000000,44.000000,11217.000000,1.000000,0.000000,1.000000,1.550000e+03,1931.000000,1.000000,6.189000e+05
75%,4.000000,7273.000000,94.000000,11358.000000,2.000000,0.000000,2.000000,2.340000e+03,1962.000000,2.000000,9.600000e+05
max,5.000000,16319.000000,7501.000000,11694.000000,1844.000000,2261.000000,2261.000000,3.750565e+06,2017.000000,4.000000,2.210000e+09

### Why are there zipcodes with 0?  Why is there a 0 in year built?